Repository haframjolk/the-quest-game, pull requests merged in 2020-03, with the labels that each got.

#16 Feature/new zealand map
  The Quest for the Game/Assets/Scenes/NewZealand.unity
  The Quest for the Game/Assets/Scenes/NewZealand.unity.meta
Labels: graphics, high, unity

#22 Feature/pixel perfect
  The Quest for the Game/Assets/Scenes/NewZealand.unity
  The Quest for the Game/Assets/Scenes/Raudalaekur.unity
  The Quest for the Game/Assets/Scenes/SampleScene.unity
  The Quest for the Game/Assets/Scenes/SvennzHouse.unity
  The Quest for the Game/Packages/manifest.json
Labels: medium, unity

#26 Move CameraControl script to Scripts directory
  The Quest for the Game/Assets/Scripts/CameraController.cs
  The Quest for the Game/Assets/Scripts/CameraController.cs.meta
Labels: low, unity
